<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Tests">

    <test name="Android 1">
        <parameter name="platformName" value="android"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="platformVersion" value="8.1.0"/>
        <packages>
            <package name="regressionSuite"/>
        </packages>
    </test>

    <!--<test name="Android 2">-->
    <!--<parameter name="platform" value="android"/>-->
    <!--<parameter name="udid" value="emulator-5556"/>-->
    <!--<parameter name="platformVersion" value="8.0.0"/>-->
    <!--<classes>-->
    <!--<class name="smokeTests.EnaEnaTestTest"/>-->
    <!--</classes>-->
    <!--</test>-->

</suite>